mainmenu "MCU C++ Configuration"

menu "tinyprintf settings"
  config TINYPRINTF
    bool "Enable tinyprintf"

  if TINYPRINTF

  config TINYPRINTF_PRINTF
    bool "Enable printf() implementation with tinyprintf"
    default y

  config TINYPRINTF_SNPRINTF
    bool "Enable snprintf() implementation with tinyprintf"
    default y

  endif # TINYPRINTF

endmenu

menu "Semihosting settings"
  config SEMIHOSTING
    bool "Enable semihosting"

  if SEMIHOSTING

  config SEMIHOSTING_PUTCHAR
    bool "Enable putchar() implementation with semihosting"
    default y

  config SEMIHOSTING_PUTS
    bool "Enable puts() implementation with semihosting"
    default y

  endif # SEMIHOSTING

endmenu

menu "stdio settings"

choice STDIO_TARGET
    prompt "stdio target"

    config STDIO_TARGET_SEMIHOSTING
        depends on SEMIHOSTING
        bool "Semihosting"

    config STDIO_TARGET_UART
        bool "UART"

endchoice

choice STDIO_TARGET_UART_PORT
    prompt "UART port"
    depends on STDIO_TARGET_UART

    config STDIO_TARGET_UART_1
        bool "Use port 1"

    config STDIO_TARGET_UART_2
        bool "Use port 2"

endchoice

endmenu
