menu "Chip"

config CHIP_ARCH_ARM
    bool
    prompt "Enable ARM features" if 0

config CHIP_ARCH_ARM_M0
    bool
    prompt "Enable ARM Cortex-M0 features" if 0
    imply CHIP_ARCH_ARM

config CHIP_ARCH_ARM_M3
    bool
    prompt "Enable ARM Cortex-M3 features" if 0
    imply CHIP_ARCH_ARM

config CHIP_ARCH_ARM_M4
    bool
    prompt "Enable ARM Cortex-M4 features" if 0
    imply CHIP_ARCH_ARM

config CHIP_ARCH_ARM_M4F
    bool
    prompt "Enable ARM Cortex-M4F features" if 0
    imply CHIP_ARCH_ARM

choice CHIP_FAMILY
    prompt "Chip family"

    config CHIP_FAMILY_STM32
        bool "STM32"

    config CHIP_FAMILY_NRF51
        bool "nRF51"

    config CHIP_FAMILY_NRF52
        bool "nRF52"

endchoice

choice CHIP_STM32
    prompt "STM32 Chip"
    depends on CHIP_FAMILY_STM32

    config CHIP_STM32F103
        bool "STM32F103"
        imply CHIP_ARCH_ARM_M3
endchoice

choice CHIP_NRF51
    prompt "nRF51 Chip"
    depends on CHIP_FAMILY_NRF51


    config CHIP_NRF51822
        bool "nRF51822"
        imply CHIP_ARCH_ARM_M0

    config CHIP_NRF51422
        bool "nRF51422"
        imply CHIP_ARCH_ARM_M0
endchoice

choice CHIP_NRF52
    prompt "nRF52 Chip"
    depends on CHIP_FAMILY_NRF52

    config CHIP_NRF52832
        bool "nRF52832"
        imply CHIP_ARCH_ARM_M4F

endchoice

endmenu # Chip
