menu "Chip"

choice CHIP_FAMILY
    prompt "Chip family"

    config CHIP_FAMILY_STM32
        bool "STM32"

    config CHIP_FAMILY_NRF51
        bool "nRF51"

    config CHIP_FAMILY_NRF52
        bool "nRF52"

endchoice

choice CHIP_STM32
    prompt "STM32 Chip"
    depends on CHIP_FAMILY_STM32

    config CHIP_STM32F103
        bool "STM32F103"
endchoice

choice CHIP_NRF51
    prompt "nRF51 Chip"
    depends on CHIP_FAMILY_NRF51

    config CHIP_NRF51822
        bool "nRF51822"

    config CHIP_NRF51422
        bool "nRF51422"
endchoice

choice CHIP_NRF52
    prompt "nRF52 Chip"
    depends on CHIP_FAMILY_NRF52

    config CHIP_NRF52832
        bool "nRF52832"

endchoice

endmenu # Chip
